.downloadLink {
  position: relative;
  width: 18px;
  min-width: 18px;
  height: 22px;
  margin-left: 50px;
}

.downloadIcon {
  display: block;
  width: 18px;
  min-width: 18px;
  height: 22px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .downloadLink {
    position: fixed;
    top: 14px;
    right: 20px;
  }
}
