.container {
  height: 100%;
  width: 100%;
  max-width: 1150px;
  padding: 0 25px 100px;
  margin: 0 auto;

  &Error {
    height: calc(100% - 144px);
    padding: 100px 25px;

    .message {
      max-width: 700px;
    }
  }
}

.messageWrap {
  background-color: #fff;
}

.message {
  font-size: 21px;
  line-height: normal;
  background-color: #fff;
  text-align: center;
  padding: 50px 25px 45px;
  margin: 0 auto;

  a {
    color: #287fa3;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-bottom: 40px;

    &Error {
      padding: 40px 25px;

      .messageWrap {
        background-color: transparent;
      }
    }
  }

  .message {
    font-size: 18px;
    line-height: 28px;
    text-align: left;
  }
}

@media screen and (max-width: 420px) {
  .message {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.25px;
  }
}
