.mainLayout {
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;

  &Fade {
    opacity: 0;
  }
}

.title {
  height: 114px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  text-align: center;
  padding: 52px 25px 41px;
}

.content {
  vertical-align: top;
}

.footer {
  height: 144px;
}

@media screen and (max-width: 768px) {
  .title {
    text-align: left;
    padding: 37px 50px;
  }

  .noContent {
    width: calc(100% - 50px);
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    padding: 50px 25px 45px;
    margin: 0 25px 79px;
  }
}

@media print {
  .footer {
    height: 94px !important;
  }
}
