.cardsView {
  padding: 44px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 44px;
  background-color: #f5f5f5;
  min-height: 100%;

  .title {
    color: var(--primary-color);
    text-align: center;
    font-size: 18px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--space-md);

    .card {
      flex-grow: 1;
      flex-basis: 200px;
      overflow: hidden;
      position: relative;
      display: grid;
      padding: 0;
      aspect-ratio: 1/1.9;
      //   min-width: 200px;
      //   max-width: 400px;
      transition: 0.2s;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      &:not(:disabled):hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }

      &:disabled {
        cursor: initial;
      }

      .layer {
        grid-area: 1 / 1;
        overflow: hidden;
        height: 100%;
        transition: 0.2s;
        transform-origin: bottom center;
        display: flex;
        flex-direction: column;

        &.collapsed {
          display: flex;
          flex-direction: column;
          padding: var(--space-sm);
          box-sizing: border-box;
          position: relative;
          text-transform: uppercase;

          .universalName {
            margin-top: auto;
            margin-bottom: auto;
            color: var(--primary-color);
            font-size: 18px;
            font-weight: bold;
          }

          .logo {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            max-width: 40px;
          }
        }

        &.expanded {
          color: var(--primary-color);
          .universalName {
            padding: var(--space-xs) var(--space-sm);
            text-transform: uppercase;
          }

          .cmapWrapper {
            background-color: var(--secondary-color) !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            gap: var(--space-sm);
            margin-top: auto;
            position: relative;

            .cmap {
              padding: var(--space-sm);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              display: flex;
              flex-direction: column;
              gap: var(--space-md);

              .maxioms {
                display: flex;
                flex-direction: column;

                .maxiom {
                  margin: 0;
                }
              }
            }
          }
        }

        &.show {
          visibility: visible;
          transform: scaleY(1);
        }

        &.expanded:not(.show) {
          visibility: hidden;
          transform: scaleY(0);
        }

        &.collapsed:not(.show) {
          visibility: hidden;
        }
      }
    }
  }
}
