.cmaps {
  border: 1.2px solid black;
  border-radius: 4px;
  padding: var(--space-xxs);
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);

  .maxiom {
    font-size: 10px;
    font-family: CentraNo2-Book, Arial, Helvetica, sans-serif;
    color: #000;
    line-height: 1.15;
  }
}
